 @model GM_Shop.Areas.Admin.Models.KhachHangAdmin

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh Sửa Khách Hàng</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HOKH" class="control-label">Họ khách hàng</label>
                <input asp-for="HOKH" class="form-control" />
                <span asp-validation-for="HOKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TENKH" class="control-label">Tên khách hàng</label>
                <input asp-for="TENKH" class="form-control" />
                <span asp-validation-for="TENKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.TAIKHOAN">Tài khoản</label>
                <input asp-for="User.TAIKHOAN" class="form-control" />
                <span asp-validation-for="User.TAIKHOAN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.MATKHAU">Mật khẩu</label>
                <input asp-for="User.MATKHAU" type="password" class="form-control" />
                <span asp-validation-for="User.MATKHAU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIACHI" class="control-label">Địa chỉ</label>
                <input asp-for="DIACHI" class="form-control" />
                <span asp-validation-for="DIACHI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label">Số điện thoại </label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label">Email</label>
                <input asp-for="EMAIL" class="form-control" />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GIOITINH">Giới tính</label>
                <select asp-for="GIOITINH" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="GIOITINH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ANH" class="control-label">Ảnh</label>
                <!-- Ẩn input hidden để giữ giá trị ảnh hiện tại -->
                <input asp-for="ANH" class="form-control" type="hidden" />
                <br />
                <!-- Hiển thị ảnh hiện tại -->
                <img id="previewImage" src="~/Images/KhachHangs/@Model.ANH" alt="Ảnh sản phẩm" style="max-width: 100px; max-height: 100px;" />
                <!-- Input file để chọn ảnh mới -->
                <input name="Img" type="file" accept="image/gif, image/jpeg, image/png" class="form-control" onchange="previewSelectedImage(event)" />
                <span asp-validation-for="ANH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCCD" class="control-label"></label>
                <input asp-for="CCCD" class="form-control" />
                <span asp-validation-for="CCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGAYSINH" class="control-label">Ngày sinh</label>
                <input asp-for="NGAYSINH" type="date" class="form-control w-50" />
                <span asp-validation-for="NGAYSINH" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info btn-sm">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function previewSelectedImage(event) {
            const fileInput = event.target;
            const previewImage = document.getElementById('previewImage');

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    // Gán đường dẫn của ảnh mới vào src của thẻ img
                    previewImage.src = e.target.result;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
}

