@model GM_Shop.Areas.Admin.Models.ThuongHieuAdmin

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá Thương Hiệu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mã Thương Hiệu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATH)
        </dd>
        <dt class = "col-sm-2">
            Tên Thương Hiệu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TENTHUONGHIEU)
        </dd>
        <dt class = "col-sm-2">
            Quốc Gia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QUOCGIA)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info btn-sm">Back to List</a>
    </form>
</div>
